[Desktop Entry]
Version=1.0
Name=PCOIN Core
Comment=PCOIN P2P Cryptocurrency
Comment[fr]=PCOIN, monnaie virtuelle cryptographique pair à pair
Comment[tr]=PCOIN, eşten eşe kriptografik sanal para birimi
Exec=pcoin-qt %u
Terminal=false
Type=Application
Icon=pcoin128
MimeType=x-scheme-handler/pcoin;
Categories=Office;Finance;
StartupWMClass=Pcoin-qt
